export("at.node", "bind.relative", "build.nodes.1", "build.nodes.2", "ext.node", "int.node", "phylo.maker")

importFrom("ape", "branching.times", "drop.tip", "rcoal", "plot.phylo", "nodelabels", "read.tree")
importFrom("stats", "na.omit", "reorder")
